<nav class="sidebar">
    <div class="logo d-flex justify-content-between">
        <a href="index.html"><img src="assets/logoo.png" alt=""></a>
        <div class="sidebar_close_icon d-lg-none">
            <i class="ti-close"></i>
        </div>
    </div>
    <ul id="sidebar_menu">
        <li class="side_menu_title">
            <span>Product</span>
        </li>
        <li  >
            <a  class="has-arrow"   routerLink="/categories" routerLinkActive="router-link-active"  aria-expanded="false">

                <i  class="fa fa-list-alt"></i>
                <span>Categories </span>
            </a>
            <a class="has-arrow"      routerLink="/product" routerLinkActive="router-link-active"  aria-expanded="false">

                <i class="fa fa-pied-piper-alt"> </i>
                <span>Product </span>
            </a>
            <a class="has-arrow"  routerLink="/coupon" routerLinkActive="router-link-active"   aria-expanded="false">
                <i class="fa fa-gift" ></i>
                <span>Coupon </span>
            </a>
           
        </li>
        <li class="side_menu_title">
            <span>Users</span>
        </li>
        <li class="">
            <a class="has-arrow" routerLink="userslist" routerLinkActive="router-link-active" aria-expanded="false">
                <img src="assets/images/menu-icon/2.svg" alt="">
                <span>Users List</span>
            </a>
        </li>
        <li class="">
            <a class="has-arrow" routerLink="shippinglist" routerLinkActive="router-link-active"aria-expanded="false">
                <img src="assets/images/menu-icon/2.svg" alt="">
                <span>Shipping List</span>
            </a>
        </li>
        <li class="">
            <a class="has-arrow"  routerLink="blockusers" routerLinkActive="router-link-active" aria-expanded="false">
                <img src="assets/images/menu-icon/2.svg" alt="">
                <span>Block a  user</span>
            </a>
        </li>
        <li class="side_menu_title">
            <span>Features</span>
        </li>
        <li  >
            <a class="has-arrow" href="#" aria-expanded="false">

                <img src="assets/images/menu-icon/1.svg" alt="">
                <span>About </span>
            </a>
            <a class="has-arrow" href="#" aria-expanded="false">

                <img src="assets/images/menu-icon/1.svg" alt="">
                <span>Contact </span>
            </a>
            <a class="has-arrow" href="#" aria-expanded="false">

                <img src="assets/images/menu-icon/1.svg" alt="">
                <span>Others </span>
            </a>
           
        </li>
    </ul>

</nav>
